body {
  font-family: sans-serif;
  padding: 20px;
}

.caja {
  border: 1px solid #ccc;
  padding: 15px;
  margin-bottom: 20px;
  background-color: #f9f9f9;
}

table {
  border-collapse: collapse;
  width: 100%;
  font-size: 12px;
}

th,
td {
  border: 1px solid #ddd;
  padding: 5px;
  text-align: center;
}

th {
  background-color: #333;
  color: white;
}

button {
  padding: 10px;
  background-color: #007bff;
  color: white;
  border: none;
  cursor: pointer;
  margin-bottom: 10px;
}

.resultado {
  font-weight: bold;
  margin-top: 10px;
  color: #333;
}
