body {
  text-align: center;
  background-color: rgb(228, 199, 255);
}
.cajaBonita {
  margin: auto;
  background-color: rgb(191, 133, 245);
  border: 2px solid rgb(170, 80, 255);
  padding: 10px;
  width: 650px;
  margin-bottom: 20px;
  border-radius: 10px;
}
h1 {
  color: rgb(118, 31, 199);
}
.titulos {
  font-family: "Courier New", Courier, monospace;
  font-style: italic;
  font-weight: bolder;
  color: rgb(164, 66, 255);
  font-size: 26px;
  margin-top: 5px;
}
.consigna {
  font-family: "Times New Roman", Times, serif;
  font-size: 16px;
  color: rgb(75, 0, 130);
  padding: 0 15px;
}
.cajaBonita input {
  border: 2px solid rgb(170, 80, 255);
  padding: 5px;
  border-radius: 5px;
}
.cajaBonita label {
  color: rgb(75, 0, 130);
  font-weight: bolder;
}
.botones {
  background-color: rgb(138, 43, 226);
  color: white;
  font-weight: bold;
  cursor: pointer;
  border: none;
  padding: 8px 15px;
  border-radius: 5px;
  margin-top: 10px;
  transition: background 0.3s;
}
.botones:hover {
  background-color: rgb(114, 15, 206);
}
.resultado {
  background-color: antiquewhite;
  padding: 15px;
  margin-top: 15px;
  border-radius: 5px;
  text-align: left;
  font-family: monospace;
  white-space: pre-wrap;
}
